<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div id="container">
        <p><a target="_blank" rel="noopener noreferrer">{{ now }}</a></p>
        <br>
        <!-- <strong class="capitalize">{{ folder }}</strong> -->
        <!-- <ion-list>
            <ion-item>
                <ion-select interface="action-sheet" placeholder="Seleccionar Vechiculo">
                    <ion-select-option value="apples">Ninguno</ion-select-option>
                    <ion-select-option value="oranges">VW free</ion-select-option>
                    <ion-select-option value="bananas">Mercedez 1800</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list> -->

        <div class="col-sm-6 form-group">
            <label class="control-label" placeholder="Seleccionar Vechiculo">Selecciona tu Vehiculo : </label>
            <ion-select class="form-control">
                <ion-select-option [value]="vehiculo.IdVehiculo" *ngFor="let vehiculo of vehiculos">{{vehiculo.Vehiculo}} - {{vehiculo.Patente}}</ion-select-option>
            </ion-select>
        </div>
        <br><br>

        <ion-button color="success" (click)="jornada()" [disabled]="estadoJornada">Iniciar jornada</ion-button>
        <br><br>
        <ion-button color="danger" (click)="jornada()" [disabled]="!estadoJornada">Finalizar jornada</ion-button>


    </div>
</ion-content>