<h1 class="text-center">
    Mapa</h1>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let vehiculo of vehiculos; let i = index" (markerClick)="markerClicked(vehiculo, i, infoWindowRef)" [latitude]="vehiculo.lat" [longitude]="vehiculo.lng" [label]="vehiculo.label" [markerDraggable]="vehiculo.draggable" (dragEnd)="markerDragEnd($event, i)">

        <agm-info-window #infoWindowRef>
            <b>{{vehiculo.lat}},  {{vehiculo.lng}}</b>
        </agm-info-window>

    </agm-marker>

</agm-map>